body{
	margin: 0;
	padding: 0;
	display: 100vh;
	position: relative;
	background-image: url(image/lp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.sec{
	width: 400px;
	height: 430px;
	/*border: 2px solid black;*/
	margin: 80px 390px;
	border-radius: 10px;
	background-color: rgba(150, 150, 150, 0.3);
	box-shadow: 60 50 90px #333;


}
.logo{
	text-align: center;
	font-family: cursive;
	padding-top: 50px;
	font-size: 25px;
}
.divv{
  margin: 40px 60px;

}
.divv i{
	position: absolute;
	margin: 26px ;
	font-size: 20px;

}
.divv input ,button{
	padding: 15px;
	width: 260px; 
	margin: 15px;
	padding-left: 40px;
	border: none;
	border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    letter-spacing: 5px;
    font-weight: bold;

}
.divv button{
	padding-left: 0px;
	width: 260px;
	font-family: cursive;
	font-size: 18px;
	background-color: rgba(137, 150, 190 ,3)
  }
  .divv button:hover{
  	background-color:rgba(68, 188, 216, 1.0) ;
  }